html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #807f99;
}

h1 {
    background-color: beige;
}

.left, .right {
    height: 100vh;
    width: 50vw;
}

.right {
    display: flex;
}

.left {
    background: url("./images/high-ground.jpeg");
    background-repeat: no-repeat;
    background-position: middle;
    background-size: 100vh;
}